<h3>
    <span class="text-info">
        <i class="glyphicon glyphicon-pencil mr-1"></i> Update Task
    </span>
    <a href="/home" class="btn btn-xs btn-primary pull-right" type="button">
        <i class="glyphicon glyphicon-arrow-left mr-1"></i> Back
    </a>
</h3>

<div>
    <label>
        Edit specified task:
    </label>
</div>
<div class="input-group">
    <input ng-model="todoNameEdit" type="text" class="form-control" placeholder="Update task...">
    <span class="input-group-btn">
        <button ng-click="editTodo([[ num ]])" class="btn btn-info" type="button">
            <i class="glyphicon glyphicon-pencil mr-1"></i> Update
        </button>
    </span>
</div>

<hr>
