<h3><span class="text-info"><i class="glyphicon glyphicon-user mr-1"></i> Update Profile</span>
    <a href="/home" class="btn btn-xs btn-primary pull-right" type="button">
        <i class="glyphicon glyphicon-arrow-left mr-1"></i> Back
    </a>
</h3>

<div><label for="full_name">Edit full name</label></div>
<div class="input-group">
    <input ng-model="userFullName" id="full_name" type="text" class="form-control" placeholder="Full name...">
    <span class="input-group-btn">
    <button ng-click="updateUser()" class="btn btn-info" type="button">
        <i class="glyphicon glyphicon-pencil mr-1"></i> Update
    </button>
    </span>
</div>

<hr>
